<!DOCTYPE html>
<html style="height:100%">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Summarizier</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous">
    </script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    <style>
        body{
            background-color: rgb(28, 28, 28);
        }
    </style>
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>
<body style="height:100%">
    <div class="navbar-fixed">
   <nav class="grey darken-4" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">Summarization</a>
      <ul class="right hide-on-med-and-down">
        <!-- <li><a href="{{url_for('index')}}">Fuzzy Logic</a></li> -->
         <li><a href="{{url_for('compare_summary')}}">Comparation Summarizers</a></li>
         <!-- <li><a href="#aboutapp">About</a></li> -->
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
</div>
    <br>
    <div class="container">
        <div class="section">
            <h1 style="color: lightgray; align-items: center; text-align: center;">Text Summarizer</h1>
            
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        <div style="height:10%; display:flex; align-items: center; justify-content: center">
                            {% for category, message in messages %}
                                {% if category == error%}
                                    <h3 style="color:red">{{ message }}</h3>
                                {% else %}
                                    <h3 style="color:red">{{ message }}</h3>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endwith %}
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 m10">
              <div class="icon-block">
                
            </div>

        </div>
        <div class="row">
            <div class="input-field col s12 m10">
            <div style="width: 50%; height:50%; display: block; justify-content: center; margin: auto; text-align: center">
                {% if answer %}
                    <br>
                    
                    <div class="ui fluid card">
                        <div class="content">
                            <div class="header">Summary</div>
                            <div class="description">
                            <p>{{answer}}</p>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>

    </div>
            <script>
                $('.ui.accordion')
                .accordion()
                ;
            </script>
<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="static/js/materialize.js"></script>
<script src="static/js/init.js"></script>
<!-- Jesse JCharis -->
</body>
</html>